<h1>Welcome to <%= title %></h1>

<section>
    <h4>Create A Tweet!</h4>
    <form action="/tweets/create" method="POST">
        <textarea name="content" id="" cols="30" rows="10" placeholder="Your tweet.."></textarea>
        <input type="submit" value="Create Tweet">
    </form>
</section>