<ul>
    <% if(locals.user) { %>
        Hi <li><%= user.name %></li>
        <li>
            <a href="/users/signout">Log Out</a>
        </li>
    <% } else {%>
        <li>
            <a href="/users/signin">Sign In</a>
        </li>
        <li>
            <a href="/users/signup">Sign Up</a>
        </li>
    <% }%>
</ul>